<div class="d-flex justify-content-center align-items-center" style="height: 100vh;" [formGroup]="changePasswordFormGroup">
    <div class="card text-center" style="width: 400px;">
        <div class="card-header h4 text-white bg-primary">Change Password</div>
        <div class="card-body px-5">
            <p class="card-text py-3" style="font-size: 1.2em;">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <div class="form-outline">
                <input type="text" id="code" class="form-control my-3" formControlName="code" />
                <label class="form-label" for="code">Code Activation</label>
            </div>
            <div class="form-outline">
                <input type="password" id="newPassword" class="form-control my-3" formControlName="password"/>
                <label class="form-label" for="newPassword">New Password</label>
            </div>
            <div class="form-outline">
                <input type="password" id="confirmPassword" class="form-control my-3" formControlName="confirmPassword" />
                <label class="form-label" for="confirmPassword">Confirm Password</label>
            </div>
            <a href="#" class="btn btn-primary w-100" (click)="resetPassword()">Change Password</a>
            <div class="d-flex justify-content-between mt-4">
                <a class="" href="#" routerLink="/login">Login</a>
                <a class="" href="#" routerLink="/save-user">Register</a>
            </div>
        </div>
    </div>
</div>
